.policy-form-container,
.policy-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy-form-container form {
  max-width: 400px;
  align-items: flex-start;
}
